image:
  repository: ubuntu
  tag: "24.04"
  pullPolicy: IfNotPresent

serviceAccountName: kdlhost-backup-sa

discord:
  secretName: discord-webhook
  secretKey: webhook-url

logToS3: false
logS3BucketPrefix: kdlhost-backup-logs
logToConfigMap: false

core:
  schedule: "0 0 * * *" # UTC midnight
  storageLocation: restic-core
  namespaceWhitelist: ["kube-system","velero"]
  ttl: "240h"
  snapshotVolumes: true
  retentionDays: 30

tenet:
  schedule: "0 3 * * *" # UTC 3AM
  storageLocation: restic-tenets
  snapshotVolumes: true
  retentionDays: 30
