apiVersion: v1
kind: ConfigMap
metadata:
  name: panel-config
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: panel
data:
  # Database selection logic: default to MariaDB unless Postgres is specified
  {{- if and .Values.database .Values.database.type (eq .Values.database.type "postgres") }}
  DB_CONNECTION: pgsql
  DB_HOST: {{ .Values.postgres.externalHost }}
  DB_PORT: "5432"
  DB_USERNAME: {{ .Values.postgres.auth.username | default "kubectyl" }}
  DB_PASSWORD: {{ .Values.postgres.auth.password }}
  DB_DATABASE: {{ .Values.postgres.auth.database | default "panel" }}
  SESSION_DRIVER: pgsql
  {{- else }}
  DB_CONNECTION: mysql
  {{- if .Values.mariadb.externalHost }}
  DB_HOST: {{ .Values.mariadb.externalHost }}
  {{- else }}
  DB_HOST: {{ .Release.Name }}-mariadb
  {{- end }}
  DB_PORT: "3306"
  DB_USERNAME: {{ .Values.mariadb.auth.username | default "kubectyl" }}
  DB_PASSWORD: {{ .Values.mariadb.auth.password }}
  DB_DATABASE: {{ .Values.mariadb.auth.database | default "panel" }}
  SESSION_DRIVER: mysql
  {{- end }}

  {{- if .Values.redis.auth.enabled }}
  REDIS_PASSWORD: {{ .Values.redis.auth.password }}
  {{- end }}
  APP_URL: https://{{ .Values.ingress.panel }}
  APP_ENV: production
  APP_ENVIRONMENT_ONLY: "false"
  APP_TIMEZONE: {{ .Values.global.timezone | default "UTC" }}
  CACHE_DRIVER: redis
  QUEUE_DRIVER: redis
  {{- if .Values.redis.externalHost }}
  REDIS_HOST: {{ .Values.redis.externalHost }}
  {{- else }}
  REDIS_HOST: {{ .Release.Name }}-redis-headless
  {{- end }}
  KUBER_FULLNAME: {{ include "kuber.fullname" . }}
  INGRESS_KUBER: {{ .Values.ingress.kuber }}
  INGRESS_PANEL: {{ .Values.ingress.panel }}
  {{- if .Values.panel.email }}
  LE_EMAIL: {{ .Values.panel.email }}
  {{- end }}