## enable persistent data
persistence:
  enabled: false

filebrowser:
  enabled: true

sonarr:
  enabled: false

radarr:
  enabled: false

syncthing:
  enabled: false

sabnzbd:
  enabled: false

qbittorrent:
  enabled: false

plex:
  enabled: false

docker-nvidia-egl-desktop:
  enabled: false

jellyfin:
  enabled: false

prowlarr:
  enabled: false

overseerr:
  enabled: false

kdlhost-term:
  enabled: false

## config pvc
config:
  name: "config"
  ## database data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: "longhorn"
  accessMode: ReadWriteMany
  size: 1Gi
  annotations: {}
  additionalLabels: {}

## config-local pvc
configlocal:
  name: "config-local"
  ## database data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: "local-path"
  accessMode: ReadWriteOnce
  size: 1Gi
  annotations: {}
  additionalLabels: {}

## data pvc
data:
  name: "data"
  ## database data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: "longhorn"
  accessMode: ReadWriteMany
  size: 1Gi
  annotations: {}
  additionalLabels: {}

## appwatcher pvc
appwatcher:
  name: "app-watcher"
  ## database data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: "longhorn"
  accessMode: ReadWriteMany
  size: 1Gi
  annotations: {}
  additionalLabels: {}

## docker-nvidia-egl-desktop pvc
egl:
  name: "egl-root-vol"
  ## database data Persistent Volume Storage Class
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: "longhorn"
  accessMode: ReadWriteMany
  size: 1Gi
  annotations: {}
  additionalLabels: {}

## rbac
rbac:
  enabled: false

## role
roles:
  name: tenet

# rolebinding
rolebinding:
  name: tenet
