image:
  repository: druggeri/nut_exporter
  pullPolicy: IfNotPresent
  tag: ""  # defaults to chart appVersion

env:
  TZ: "America/Los_Angeles"
  # NUT Exporter specific variables 
  NUT_EXPORTER_SERVER: "192.16.1.10"
  NUT_EXPORTER_USERNAME: ""
  NUT_EXPORTER_PASSWORD: ""
  NUT_EXPORTER_VARS: "battery.charge,battery.charge.low,battery.runtime,battery.runtime.low,battery.voltage,battery.voltage.nominal,input.voltage,input.voltage.nominal,outlet.power,output.power,output.voltage,ups.load,ups.realpower.nominal,ups.status"
  NUT_EXPORTER_PORT: "3493"
  NUT_EXPORTER_UPS_NAME: "ups"

# Extra static args (plain strings). Keep empty if you don't need extras.
args: []

service:
  main:
    ports:
      http:
        port: 9199

ingress:
  main:
    enabled: false
    hosts:
      - host: "cluster.local"
        paths:
          - path: /
            pathType: Prefix
    tls: []

persistence:
  config:
    enabled: false
    emptyDir: false
    mountPath: /config
    accessMode: ReadWriteOnce
    size: 1Gi
    skipuninstall: false

addons:
  prometheus:
    serviceMonitor:
      enabled: false
      endpoints:
        - port: 9199        # numeric port
          path: /ups_metrics
          interval: 30s
          scrapeTimeout: 10s